<head>
  <meta charset="UTF-8">
  <!-- For IE -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- For Resposive Device -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="description"
    content="." />
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" sizes="32x32" href="/assets/images/fav-icon/icon.ico">
  <link rel="icon" type="image/png" href="/assets/images/fav-icon/favicon-162x162.png" sizes="162x162">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/solid.css"
    integrity="sha384-ypqxM+6jj5ropInEPawU1UEhbuOuBkkz59KyIbbsTu4Sw62PfV3KUnQadMbIoAzq" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/fontawesome.css"
    integrity="sha384-NnhYAEceBbm5rQuNvCv6o4iIoPZlkaWfvuXVh4XkRNvHWKgu/Mk2nEjFZpPQdwiz" crossorigin="anonymous">
  <!-- Main style sheet -->
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- Fix Internet Explorer ______________________________________-->
  <!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<script src="/assets/vendor/html5shiv.js"></script>
		<script src="/assets/vendor/respond.js"></script>
	<![endif]-->
  <!-- JSON-LD Schema-->
</head>